body{
    text-align: center;
    background-color: #fbd139;
}
h1{
    background-color: whitesmoke;
    color: rgb(0,0,255)
}
#show_sketch{
    float: right;
}
canvas{
    background-color: whitesmoke;
    border:5px solid whitesmoke; 
    border-radius: 20px;
    animation-name: ani;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}
@keyframes ani{
    from{
        box-shadow: 1px, 
        1px, 
        38px, 
        rgb(50,50,50);
    }
    to{
        box-shadow: 1px, 
        1px, 
        38px, 
        whitesmoke;
    }
}   
p{
    padding-top: 10px;
    font-size: 24px;
}